body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }

  p {
    font-size: 16px;
  }

  .margin {
    margin-bottom: 45px;
  }

  .bg-1 {
    background-color: #2186e4d2; 
    color: #ffffff;
  }

  .bg-2 {
    background-color: #474e5d; 
    color: #ffffff;
  }

  .bg-3 {
    background-color: #ffffff; 
    color: #555555;
  }

  .bg-4 {
    background-color: #2f2f2f; 
    color: #fff;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }

  .navbar-nav li a:hover {
    color: #2186e4 !important;
  }

  #logoName {
    font-weight: 800;
    font-size: 2.5rem;
  }

  #whoAmI {
    font-size: 5rem;
    font-weight: 900;
  }

  #bioPic {
    filter: grayscale(100%);
  }

  #aboutMe {
    padding-left: 10%;
    padding-right: 10%;
  }

  #myWork {
    padding-left: 10%;
    padding-right: 10%;
  }

  .bio {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 2;
  }

  #revealFacts {
    background-color: #2186e4d2;
    margin-top: 40px;
    
  }

  #hide {
    display: none;
  }

  h3 {
    font-size: 4rem;
    font-weight: 900;
  }

  h4 {
    background-color: #2186e4d2;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 2.5rem;
  }

  #disappear,
  .point {
    color: #449ae8;
  }

  #disappear:hover {
    color: white;
  }

  #contactMe {
    background-color: #2186e4d2;
    color: #ffffff;
  }

  img:hover {
    opacity: 0.7;
  }

  #revealFacts:hover {
    font-size: 2rem;
  }

  h4:hover {
    opacity: 0.7;
  }

  .social {
    margin: 1%;
  }

  #copyright {
    margin-top: 40px;
  }

  /* The animation code */
  @keyframes example {
    0% {
      font-size: x-large;
    }
    25% {
      font-size: large;
    }
    50% {
      font-size: medium;
    }
    100% {
      font-size: x-large;
    }
  }

  #logoName {
    height: 50px;
    animation-name: example;
    animation-duration: 5s;
    font-weight: 900;
  }

.contact-icons {
  padding-bottom: 15px;
}